set colored-stats On
set colored-completion-prefix On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

"\e[A":     history-search-backward
"\e[B":     history-search-forward
"\eOA":     history-search-backward
"\eOB":     history-search-forward
"\C-p":     history-search-backward
"\C-n":     history-search-forward